*, *::before, *::after  {
  box-sizing: border-box;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
}

html, body {
  position: relative;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 400;
}


.page-wrapper {
  position: relative;
  @include flexAlign($ai: center);
  width: 100%;
  min-height: 100%;
}
