@font-face {
	font-family: "icons";
	src: url('../fonts/icons.eot?1579641752651');
	src: url('../fonts/icons.eot?1579641752651#iefix') format('eot'),
		url('../fonts/icons.woff2?1579641752651') format('woff2'),
		url('../fonts/icons.woff?1579641752651') format('woff'),
		url('../fonts/icons.ttf?1579641752651') format('truetype'),
		url('../fonts/icons.svg?1579641752651#icons') format('svg');
}
/* stylelint-disable */
.icon:before {
	font-family: "icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-vkontakte:before {
	content: "\E001";
}

/* stylelint-enable */